.modal-overlay {
    background: rgba(202, 227, 233, 0.205); /* Fondo translúcido */
    z-index: 1000;
    border-radius: 8px;
    /* filter: blur(0.5px) ; */
}

.modal-content-translucent {
    background: rgba(255, 255, 255, 0.288); /* Fondo blanco translúcido */
     
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    max-width: 250px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
